[Desktop Entry]
X-Nemo-Application-Type=silica-qt5
Type=Application
Icon=harbour-fiatglossa
Name=fiat glossa
Exec=harbour-fiatglossa

[X-Sailjail]
Permissions=Internet
OrganizationName=se.munkstolen
ApplicationName=harbour-fiatglossa